@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[90rem] p-2 mx-auto w-full;
}

body {
  @apply font-oswald;
}

@layer base {
  .header {
    @apply bg-light fixed w-full z-50;
  }
  .header .container {
    @apply relative;
  }
  .header .branding {
    @apply flex items-center justify-between;
  }
  .header .branding h3 {
    @apply hidden font-semibold md:flex md:items-center md:gap-2;
  }
  .header .branding h3 i,
  .header__info h3 {
    @apply text-primary;
  }
  .header .branding h3 p,
  .header__info p {
    @apply text-dark;
  }
  .header .header__info {
    @apply flex flex-col items-center gap-5 mt-5;
  }
  .header .header__info h3 {
    @apply flex font-normal items-center text-sm text-primary gap-2 md:hidden;
  }
  .header .header__info p {
    @apply text-dark;
  }
  .header .toggle__menu {
    @apply bg-primary p-2 rounded-md  md:hidden;
  }
  .header .toggle__menu span {
    @apply w-6 h-[3px] block bg-light rounded-full transition-all duration-500;
  }
  .header .toggle__menu span:nth-child(2) {
    @apply my-1;
  }
  .header .toggle__menu.open span:first-child {
    @apply translate-y-[8px] rotate-[225deg] transition-all duration-500;
  }
  .header .toggle__menu.open span:nth-child(2) {
    @apply opacity-0 transition-all duration-500;
  }
  .header .toggle__menu.open span:last-child {
    @apply translate-y-[-6px] rotate-[-225deg] transition-all duration-500;
  }
  .header__nav {
    @apply flex justify-between items-center mt-5 text-dark text-lg
        md:grid md:grid-cols-[_1.5fr,_.4fr,_.4fr];
  }
  .header__nav .nav {
    @apply bg-light absolute pt-10 top-[6rem] -right-[100rem] flex flex-col items-center gap-10 w-full h-screen transition-all duration-500 
        md:static md:flex md:flex-row md:h-fit md:pt-0 md:gap-10 md:justify-end md:text-sm;
  }
  .header__nav .nav.open {
    @apply right-0 transition-all duration-500;
  }
  .header__nav .nav li {
    @apply w-[8rem] py-2 md:w-fit md:p-2;
  }
  .header__nav .nav li.open {
    @apply bg-primary text-light;
  }
  .header__nav .nav li:hover {
    @apply bg-primary rounded-sm;
  }
  .header__nav .nav li:hover a {
    @apply text-light;
  }
  .header__nav .nav li a {
    @apply flex items-center gap-1 justify-center;
  }
  .header__nav .social {
    @apply flex gap-5 md:justify-end;
  }
  .header__nav .action {
    @apply flex gap-5 md:justify-end;
  }
  .header__nav ul li:hover a {
    @apply text-primary;
  }
  /* --------------------------HEADER SUBMENU---------------------------- */
  .header__sub {
    @apply hidden opacity-0 bg-light absolute top-[10rem] left-0 md:!w-full p-5;
  }
  .header__sub.open {
    @apply block opacity-100;
  }
  .header__sub__wrapper ul {
    @apply md:grid md:grid-cols-3 md:gap-2;
  }
  .header__sub__wrapper ul li {
    @apply mx-auto;
  }
  .header__sub__wrapper ul li a img {
    @apply max-h-[10rem];
  }
  .header__sub__bottom {
    @apply items-center lg:grid lg:grid-cols-2;
  }
  .header__sub__bottom__item {
    @apply flex items-center min-h-[8rem] max-h-[8rem]
     justify-center md:mt-10;
  }
  .header__sub__bottom__item:first-child {
    @apply bg-gray-600 mb-5 lg:mb-0;
  }
  .header__sub__bottom__item:last-child {
    @apply bg-dark;
  }
  .header__sub__bottom__item__text {
    @apply flex flex-col gap-4;
  }
  .header__sub__bottom__item__text h4 {
    @apply text-light text-[2.5rem];
  }
  .header__sub__bottom__item__text h3 {
    @apply text-light text-5xl;
  }
  /* --------------------------BANNER---------------------------- */
  .banner {
    @apply mx-2 translate-y-[15rem] md:mx-0 md:translate-y-[12rem] bg-light;
  }
  .banner .container {
    @apply bg-banner bg-center bg-cover h-[600px] relative flex items-center md:h-[700px];
  }
  .banner .banner__wrapper {
    @apply md:translate-x-[5rem];
  }
  .banner .banner__text {
    @apply max-w-[18rem] flex flex-col gap-3 md:translate-x-[5rem] md:-translate-y-[3rem];
  }
  .banner .banner__text h1 {
    @apply text-light text-6xl tracking-widest;
  }
  .banner .banner__text p {
    @apply text-light tracking-widest;
  }
}

/* --------------------------ALWAYS---------------------------- */
.always {
  @apply bg-light;
}
.always .always__text {
  @apply mt-0 flex flex-col gap-5;
}
.always .always__text h2 {
  @apply text-5xl tracking-widest;
}
.always .always__text p {
  @apply text-gray-500 text-lg leading-10;
}
.always .always__icon {
  @apply text-gray-800 mt-5;
}
.always .always__icon ul {
  @apply flex gap-10 justify-center md:justify-normal;
}
.always .always__icon ul li {
  @apply flex flex-col text-center;
}
.always .always__icon ul li i {
  @apply text-3xl;
}
.always .always__wrapper {
  @apply md:grid md:grid-cols-2 md:gap-5 md:items-center;
}
.always .always__wrapper:last-child {
  @apply mt-20 md:grid md:grid-cols-3 md:gap-10 md:items-center;
}
.always .always__wrapper:last-child .always__item:nth-child(odd) {
  @apply md:flex md:flex-col-reverse;
}
.always__item img {
  @apply w-[90%] h-[90%] mx-auto;
}
.always__item .always__item__desc {
  @apply flex flex-col gap-3;
}
.always__item .always__item__desc h5 {
  @apply text-xl;
}
.always__item .always__item__desc h5 span {
  @apply text-primary text-4xl ml-2;
}
.always__item .always__item__desc h4 {
  @apply text-3xl tracking-widest;
}
.always__item .always__item__desc h3 {
  @apply text-5xl tracking-widest;
}
.always__item .always__item__desc p {
  @apply text-xl text-gray-600 font-light;
}
.always__item .always__item__desc a {
  @apply py-3 px-4 w-fit text-sm hover:bg-dark;
}

/* --------------------------OFFERS---------------------------- */
.offers {
  @apply py-20;
}
.offers .offers__wrapper {
  @apply flex flex-col gap-5 md:grid md:grid-cols-[_1fr,_2fr,_1fr];
}
.offers .offers__item {
  @apply h-[450px] text-center flex flex-col items-center justify-center;
}
.offers .offers__item h3 {
  @apply text-5xl max-w-[25rem] tracking-widest text-center mx-auto
  md:text-4xl;
}
.offers .offers__item p {
  @apply tracking-widest mt-5;
}
.offers .offers__item:first-child {
  @apply bg-b2g3 bg-cover bg-center bg-no-repeat md:order-2;
}
.offers .offers__item:nth-child(2) {
  @apply bg-happy bg-cover bg-center bg-no-repeat;
}
.offers .offers__item:last-child {
  @apply bg-off bg-cover bg-left-top bg-no-repeat md:order-3;
}
.offers .offers__item:nth-child(2) * {
  @apply translate-y-[6rem];
}
.offers .offers__item:last-child * {
  @apply md:translate-y-[-5rem];
}

/* --------------------------MENU NAV---------------------------- */
.menu .menu__nav {
  @apply max-w-[25rem] flex flex-wrap justify-center mx-auto
  md:max-w-[unset] md:mb-10 md:gap-10;
}
.menu .menu__nav li {
  @apply m-5;
}
.menu .menu__nav li:hover a span {
  @apply text-primary;
}
.menu .menu__nav li.active a span {
  @apply text-primary;
}
.menu .menu__nav li a img {
  @apply max-w-[3rem] mx-auto
  md:max-w-full;
}
.menu .menu__nav li a {
  @apply flex flex-col text-center gap-2;
}
.menu .menu__nav li a span {
  @apply text-xl;
}

/* --------------------------MENU CONTENT---------------------------- */
.menu__content {
  @apply hidden;
}
.menu__content.active {
  @apply flex gap-10;
}
.menu__content__item {
  @apply border border-gray-200 p-10 overflow-hidden relative;
}
.menu__content__item:hover img {
  @apply opacity-50;
}
.menu__content__item img {
  @apply max-w-[20rem] mx-auto object-cover object-center
  md:max-w-[15rem];
}
.menu__content__item .menu__content__text {
  @apply flex flex-col gap-5 translate-y-[3rem] transition-all;
}
.menu__content__item:hover .menu__content__text {
  @apply translate-y-0 transition-all duration-500;
}
.menu__content__item .menu__content__text h4 {
  @apply text-2xl;
}
.menu__content__item .menu__content__text h3 {
  @apply text-primary text-4xl;
}
.menu__content__item .menu__content__text p {
  @apply text-gray-500 translate-y-[10rem] transition-all duration-500;
}
.menu__content__item .menu__content__text a {
  @apply translate-y-[10rem] transition-all duration-700;
}
.menu__content__item:hover .menu__content__text p {
  @apply translate-y-0 transition-all duration-500;
}
.menu__content__item:hover .menu__content__text a {
  @apply translate-y-0 transition-all duration-700;
}

@layer components {
  .btn {
    @apply inline-block p-2 rounded-full text-center text-light
        hover:bg-light hover:text-primary;
  }
}
